version: '2'

volumes:
  # Presistent rust dir to keep toolchain updates
  rust:
  # Presistent target dir to speed up
  local:

services:

  #### Set up syslog-ng host with kernel variables,
  syslog-ng:
    build:
      context: ./
      dockerfile: Dockerfile.syslog-ng
    image: syslog-ng
    cap_add:
    - ALL
    # entrypoint: '/bin/bash -l -c'
    command: '/usr/sbin/syslog-ng -F -d -v'

  #### test container
  rust:
    build:
      context: ./
      dockerfile: Dockerfile.rust
    working_dir: /src
    depends_on:
      - syslog-ng
    volumes_from:
      - syslog-ng
    volumes:
      - ..:/src
      - rust:/root/.cargo
      - local:/local
    # entrypoint: ''
    # command: 'cargo test-all'
    # Separate target dir under docker
    environment:
      - CARGO_TARGET_DIR=/local/target
