version: '2'

volumes:
  # Presistent rust dir to keep toolchain updates
  rust:
  # Presistent target dir to speed up
  local:

services:

  #### Set up syslog-ng host with kernel variables,
  syslog-ng:
    build:
      context: ./
      dockerfile: Dockerfile.syslog-ng
    image: syslog-ng
    privileged: true
    cap_add:
    - ALL

  #### test container
  rust:
    image: scorpil/rust:nightly
    working_dir: /src
    depends_on:
      - syslog-ng
    volumes_from:
      - syslog-ng
    volumes:
      - ..:/src
      - rust:/root/.cargo
      - local:/local
    command: 'cargo test --features full-integration-env'
    # Separate target dir under docker
    environment:
      - CARGO_TARGET_DIR=/local/target
